* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

body {
    background-color: #1A3636;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A3636;
    color: #D6BD98;
    padding: 10px 20px;
}

.header h1 {
    font-size: 24px;
    cursor: pointer;
}

.header input[type="button"] {
    background-color: #40534C;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.header input[type="button"]:hover {
    background-color: #D6BD98;
    color: #1A3636;
}

.topnav {
  background: #1A3636;
  color: white;
  padding: 8px 20px;
}

.menu-btn {
  font-size: 20px;
  float: left;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.menu-btn:hover {
    color: #D6BD98;
}

.menu-btn:focus {
  outline: none;
}

.topnav h2 {
  font-size: 20px;
  color: #D6BD98;
    margin-left: 50px;
    float: left;
}

.welcome {
  font-size: 16px;
  margin-right: 10px;
  float: right;
  color: #ffffff;
}

#sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px; 
  background-color: #40534cc0;
  transition: 0.4s;
  padding-top: 20px;
  z-index: 1000;
  color: #D6BD98;
}

#sidebar h1 {
  text-align: center;
  font-size: 22px;
  margin-top: 100px;
}

#sidebar img {
  display: block;
  margin: 0 auto 15px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 5px;
  border: 3px solid #D6BD98;
  object-fit: cover;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

#sidebar ul li {
  margin: 15px 0;
}

#sidebar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  display: block;
  transition: 0.3s;
}

#sidebar ul li a:hover {
  background-color: #D6BD98;
  padding: 8px 0;
  border-radius: 5px;
}
.dropdown .dropbtn {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.dropdown .dropbtn:hover {
  background-color: #D6BD98;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  background-color: #54685c;
  margin: 5px 0;
  border-radius: 5px;
}

.dropdown-content a {
  color: white;
  padding: 8px;
  text-decoration: none;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #D6BD98;
}

.dropdown:hover .dropdown-content {
  display: flex;
}
#sidebar .logout-btn {
  background-color: #1a363600;
  color: #ffffff;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

#sidebar .logout-btn:hover {
  background-color: #bda77e;
}

#sidebar.active {
  left: 0;
}
main {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}
.yr-sem h2 {
 margin-left: 20px;
 color: #D6BD98;
}

.yr-sem{
    background: #40534cc0;
    padding: 15px;
    width: 90%;
    margin-top: 45px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.yr-sem2 h2 {
 margin-left: 20px;
 color: #D6BD98;
}

.yr-sem2{
    background: #40534cc0;
    padding: 15px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.table-container {
    overflow-x: auto;
}
table {
    width: 97%;
    border-collapse: collapse;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
th, td {
    border: 1px solid #54685c00;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #D6BD98;      
    color: #1A3636;
}
tr:nth-child(even) {
    background-color: #677d6a00;
    color: #ffffff;
}
tr:hover {
    background-color: #D6BD98;
    color: #1A3636;
}

footer {
  text-align: center;
  padding: 15px;
  background: #40534C;
  color: #D6BD98;
  margin-top: auto;
}